body {
	font-family: Roboto,Helvetica Neue,Arial,sans-serif;
	font-size: 12px;
	width: 1440px;
	margin: auto;
	color: #aaa;
	margin-top: 5px;
	background-color: #222;
}

.arrowup::before    {
    content: '\25B2';
    color: #0b0;
}

.arrowdown::before   {
    content: '\25BC';
    color: #f00;
}

.box {
	border: 1px solid #bbb;
	padding: 6px 10px;
	margin-right: 6px;
	background-color: #527;
	color: #ddd;
}

#params {
	padding: 3px 0px;
}

th.countries {
	cursor: pointer;
}

.sortasc::after {
	content: '\25B2';
	color: yellow;
	font-size: 18px;
}

.sortdesc::after {
	content: '\25BC';
	color: yellow;
	font-size: 18px;
}

.sortasc,
.sortdesc {
	color: #eee;
}

.sortleft,
.sortright {
	color: #eee;
}

.sortright::after {
	content: '\25C0';
	color: yellow;
	float: inline-end;
}
.sortleft::after {
	content: '\25B6';
	color: yellow;
	float: inline-end;
}

#maintable {
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	margin-top: 4px;
}

#maintable th {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 0px 5px;
}

#maintable td {
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

#maintable th:first-child,
#maintable td:first-child {
	border-left: 1px solid #ddd;
}

#maintable thead th {
	position: sticky;
	top: 0px;
	background-color: #444;
}

#maintable tbody td:nth-child(n+2) {
	text-align: right;
	cursor: default;
}

#maintable tbody td:nth-child(1) {
	cursor: pointer;
}

.allgames {
	background-color: #335;
}

.clearstr {
	cursor: pointer;
    padding: 0px 4px;
    color: #ddd;
	border: 1px solid #fff;
	border-radius: 4px;
	background-color: #666;
}

#devselect {
	cursor: pointer;
	color: #ddd;
	font-weight: bold;
}

.popupbox {
	position: absolute;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 0px 10px 10px;
	cursor: default;
	width: auto;
}

.popuptab {
	border: 1px solid #ddd;
	border-collapse: collapse;
}

.popuptab td,
.popuptab th {
	border: 1px solid #ddd;
	padding: 0px 6px;
	cursor: pointer;
}

.popuptab td:nth-child(n+2) {
	text-align: right;
}

#devpopup {
	background-color: #252;
	top: 40px;
	left: 800px;
}

h1 {
	color: #ccc;
}

.winclose {
	float: right;
	font-size: 25px;
	border: 3px solid #bbb;
	border-radius: 7px;
	padding: 0px 6px;
	font-weight: bold;
	margin-top: 8px;
	cursor: pointer;
	margin-left: 25px;
}

.qmark {
	background: #777;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	font-family: Verdana;
	padding: 0px 5px;
	font-size: 10px;
	font-weight: bold;
	cursor: pointer;
	position: relative;
	top: -4px;
}

#cellinfo {
	background-color: #226;
	top: 100px;
	left: 600px;
}

#cellinfo h1 {
	float: left;
}

#cellinfo img {
	float: left;
	padding-right: 25px;
}

#genres span,
#cellplats span {
	padding: 0px 6px;
	background-color: #181;
	border: 1px solid #181;
	margin: 0px 6px;
	border-radius: 5px;
	color: #ddd;
}

#cellinfo table {
	border: 1px solid #bbb;
	border-collapse: collapse;
	margin-top: 10px;
}

#cellinfo th,
#cellinfo td {
	border: 1px solid #bbb;
	padding: 0px 18px;
}

#cellinfo th:nth-child(1) {
	text-align: left;
	padding-left: 6px;
}

#cellinfo td {
	text-align: right;
}

#celldivcountry {
	padding-top: 56px;
}

#genres span {
	white-space: nowrap;
	display: inline-block;
}

#cellplatsdiv {
	padding-top: 8px;
	font-weight: bold;
	color: #ddd;
}

#cellgenres {
	font-weight: bold;
	color: #ddd;
}

#genressel {
	font-weight: bold;
	color: #ddd;
	cursor: pointer;
}

#genrepopup {
	top: 40px;
	left: 600px;
	background-color: #525;
}

#genretable span {
	padding-left: 6px;
}

footer {
	padding: 20px 0px;
	text-align: right;
}

a {
	color: #58a6ff;
}
