body {
	font-family: Roboto,Helvetica Neue,Arial,sans-serif;
	font-size: 12px;
	width: 1440px;
	margin: auto;
	color: #aaa;
	margin-top: 5px;
	background-color: #222;
}

table {
	border: 1px solid #bbb;
	border-collapse: collapse;
}

th,td {
	border: 1px solid #bbb;
	padding: 0px 9px;
}


